# Use the Vite proxy during local development to avoid backend CORS restrictions.
VITE_APPWRITE_PROJECT_ID = "6aa629aa0010e05219f0"
VITE_APPWRITE_PROJECT_NAME = "Parat App"
VITE_APPWRITE_ENDPOINT = "https://sgp.cloud.appwrite.io/v1"
        